name: CI

on: [push, pull_request]

# Set this permission if you are using a Federated Credential.
permissions:
  id-token: write
  contents: read

# GitHub Actions workflow to deploy to Azure using azd
# To configure required secrets for connecting to Azure, simply run `azd pipeline config --auth-type client-credentials`

jobs:

  build:
    
    runs-on: ubuntu-latest

    steps:

      - name: Install Nodejs
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22

      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Build api
        run: cd ./src/api && npm install && npm run build

      - name: Build web
        run: cd ./src/web && npm install && npm run build  

  deploy:
    if: github.ref_type == 'tag'
    needs: [ build ]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4

      - name: Install azd
        uses: Azure/setup-azd@c495e71ba59e44bfaaac10a32c8ee90d191ca4a3 # v2

      - name: Install Terraform CLI
        uses: hashicorp/setup-terraform@b9cd54a3c349d3f38e8881555d616ced269862dd # v3  

      - name: Install Nodejs
        uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4
        with:
          node-version: 22

      - name: Login az
        uses: azure/login@a457da9ea143d694b1b9c7c869ebb04ebe844ef5 # v2
        with:
          creds: ${{ secrets.AZURE_CREDENTIALS }}

      - name: Set az account
        uses: azure/CLI@9f7ce6f37c31b777ec6c6b6d1dfe7db79f497956 # v2
        with:
          inlineScript: |
            az account set --subscription ${{vars.AZURE_SUBSCRIPTION_ID}}

      - name: Log in with Azure
        run: |
          $info = $Env:AZURE_CREDENTIALS | ConvertFrom-Json -AsHashtable;
          Write-Host "::add-mask::$($info.clientSecret)"

          azd auth login `
            --client-id "$($info.clientId)" `
            --client-secret "$($info.clientSecret)" `
            --tenant-id "$($info.tenantId)"
        shell: pwsh
        env:
          AZURE_CREDENTIALS: ${{ secrets.AZURE_CREDENTIALS }}
  
      - name: Add az environment
        run: |
          azd env new ${{ vars.AZURE_ENV_NAME }}

      - name: Configure az environment
        run: |
          azd env set AZURE_ENV_NAME ${{ vars.AZURE_ENV_NAME }}
          azd env set AZURE_LOCATION ${{ vars.AZURE_LOCATION }}
          azd env set AZURE_SUBSCRIPTION_ID ${{ vars.AZURE_SUBSCRIPTION_ID }}
        env:
          AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
          AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Provision and Deploy
        run: |
          azd up -e ${{ vars.AZURE_ENV_NAME }} --no-prompt
        env:
          AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
          AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}               

      # - name: Refresh azd env (pulls latest infrastructure provision)
      #   run: azd env refresh --no-prompt
      #   env:
      #     AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
      #     AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
      #     AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      #   working-directory: /home/runner/work/todo-nodejs-mongo-terraform/todo-nodejs-mongo-terraform

      # - name: Provision Infrastructure
      #   run: azd provision --no-prompt
      #   env:
      #     AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
      #     AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
      #     AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
      #     ARM_TENANT_ID: ${{ vars.ARM_TENANT_ID }}
      #     ARM_CLIENT_ID: ${{ vars.ARM_CLIENT_ID }}
      #     ARM_CLIENT_SECRET: ${{ secrets.ARM_CLIENT_SECRET }}
      #     RS_RESOURCE_GROUP: ${{ vars.RS_RESOURCE_GROUP }}
      #     RS_STORAGE_ACCOUNT: ${{ vars.RS_STORAGE_ACCOUNT }}
      #     RS_CONTAINER_NAME: ${{ vars.RS_CONTAINER_NAME }}
      #     AZD_INITIAL_ENVIRONMENT_CONFIG: ${{ secrets.AZD_INITIAL_ENVIRONMENT_CONFIG }}
          
      # - name: Deploy Application
      #   run: azd deploy --no-prompt
      #   env:
      #     AZURE_ENV_NAME: ${{ vars.AZURE_ENV_NAME }}
      #     AZURE_LOCATION: ${{ vars.AZURE_LOCATION }}
      #     AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
